*{
  margin: 0;
}

/* navbar */
.navbar{
  padding:20px;
  display: flex;
  align-items: center;
  /* max-width: 600px; */
  margin: 0 auto;
  border-bottom: 1px solid #96bf31;
}
.navbar h1 {
  color: #96bf31;
}
.navbar .links {
  margin-left: auto;
  text-decoration: none;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: #000
}
.navbar a:hover {
  color: #96bf31;
}

/* home */
.first-page{
  /* padding:20px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* max-width: 600px; */
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
  gap: 25px;  
}